# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件


import numpy as np
import pandas as pd

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [3]:
'''
Your Code
'''

'\nYour Code\n'

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [4]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.427104  0.703573  0.066836
1  0.460843  0.872229  0.533655
2  0.175385  0.257174  0.555814
3  0.573756  0.310753  0.543696
4  0.028710  0.896686  0.239243

In [5]:
df - df.mean()

          0         1         2
0  0.093944  0.095490 -0.321013
1  0.127683  0.264146  0.145806
2 -0.157774 -0.350909  0.167965
3  0.240596 -0.297330  0.155847
4 -0.304450  0.288603 -0.148606

In [6]:
df.sub(df.mean(axis=1) ,axis=0)

          0         1         2
0  0.027933  0.304402 -0.332335
1 -0.161399  0.249987 -0.088588
2 -0.154072 -0.072284  0.226356
3  0.097688 -0.165316  0.067628
4 -0.359503  0.508473 -0.148970

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [7]:
df

          0         1         2
0  0.427104  0.703573  0.066836
1  0.460843  0.872229  0.533655
2  0.175385  0.257174  0.555814
3  0.573756  0.310753  0.543696
4  0.028710  0.896686  0.239243

In [8]:
df.sum().argmax()

1

In [9]:
df.sum(axis=1).argmax()

1